{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} > Ajouter une dépense
{% endblock %}

{% block body %}
    <h2 class="mt-8">Ajouter une dépense</h2>
    <div class="container col-10 col-sm-10 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row mt-4">
            <div id="form-frame" class="justify-content-center mb-5 ">
                {{ form_start(expenseForm) }}
                    {{ form_row(expenseForm.name)}}
                    {{ form_row(expenseForm.date)}}
                    {{ form_row(expenseForm.amount)}}
                    {{ form_row(expenseForm.payer)}}
                    {{ form_row(expenseForm.participants)}}
                    {{ form_row(expenseForm.group)}}
                    <div class="mt-7 text-center">
                        <input type="submit" value="Ajouter" class="btn btn-primary">
                        <a href="{{ path('home_index') }}" class="btn btn-primary">Retour</a>
                    </div>
                {{ form_end(expenseForm) }}
            </div>
        </div>
    </div>
{% endblock %}
