{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} > Liste des dépenses
{% endblock %}

{% block body %}
    <h2>Groupe : {{ group.name }}</h2>
    <h2>Liste des dépenses</h2>
    <div>
        <table>
            <tr>
                <th>Nom<br>Payé par</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Participants</th>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }} <br> {{ expense.payer.getName() }}</td>
                <td>{{ expense.date|date('d/m/Y') }}</td>
                <td>{{ expense.amount|format_currency() }}</td>
                <td>{{ expense.getParticipants.count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div>
        <a href="{{ path('expense_add') }}">Ajouter une dépense</a>
        <a href="#">Afficher la balance</a>
        <a href="#">Retour</a>
    </div>
{% endblock %}
