<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Qui paie quoi ?{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <nav class="navbar">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-6 col-xl-6 col-xxl-6 left">
                        <a class="navbar-brand" href="#">
                            <img src="{{ asset('logos/logo-quipaiequoi-simple-transparent.png')}}" class="img-fluid img-responsive" alt="logo QuiPaieQuoi">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <body>
        <div class="mt-4">
            {% block body %}
                <div class="container-fluid"></div>
            {% endblock %}
        </div>
    </body>
</html>
